{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiReportBundle::layout.html.twig" %}
{% block body %}
<script language="javascript">
function Init() {
    mylayout = globalLayout.cells("b").attachLayout("2U");
    
    view = mylayout.cells("a").attachDataView({
        container:"data_container",
        type:{
            template:"<b>#Dashboard#</b><p>#Description#<br/><i>Version #Version#</i></p>",
            width: size
        }
    });
    view.add({
        Dashboard: "Global",
        Description: "Vue synthétique de l'ensemble des traitements",
        Version:"1.0" 
    });

    GlobalRefresh();
};

function GlobalRefresh() {
    mylayout.cells("b").attachURL( "{{url('html_Report_dashboard') }}" );                      
};
</script>
{% endblock %}
